@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Input */
.ylink {
  @apply text-ylightblue dark:text-yred hover:text-yred transition;
}
.ylink-outer {
  @apply text-ylightblue dark:text-slate-800  hover:text-yred transition after:content-['_↗'];
}