@tailwind base;
@tailwind components;
@tailwind utilities;

/* Input */
.ylink {
  @apply text-ylightblue dark:text-ytextdark dark:hover:text-yred hover:text-yred transition font-medium;
}

.animate-fadeIn{
  animation: fadeIn .4s cubic-bezier(0.4, 0, 0.6, 1);
}
@keyframes fadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.ybutton{
  @apply text-sm text-center inline-block m-0.5 font-medium transition-colors rounded-xl px-3 py-2 text-ylightblue 
}
.ybutton.primary{
  @apply bg-ylime hover:bg-[#CBEA6E]
}
.ybutton.secondary{
  @apply bg-ytextdark hover:bg-[#B2C4F9]
}