@tailwind base;
@tailwind components;
@tailwind utilities;

/* Input */
.ylink {
  @apply text-ylightblue dark:text-ytextdark hover:text-yred transition;
}
.ylink-outer {
  @apply text-ylightblue dark:text-slate-800  hover:text-yred transition after:content-['_↗'];
}
.animate-fadeIn{
  animation: fadeIn .4s cubic-bezier(0.4, 0, 0.6, 1);
}
@keyframes fadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}